<div class="picture_wrapper"><section>
  <div class="form">
  <h2>Sign In</h2>
  <div class="login">
    <%= form_tag(session_path) do %>
      <%= label_tag :email  %><br/>
      <%= text_field_tag :email %><br/>
      <%= label_tag :password %><br/>
      <%= password_field_tag :password %><br/>
      <%= submit_tag('Login') %>
    <% end %>
    <p style="color: red"><%= flash[:error] %></p>
  </div>
		<button><%= link_to('Sign up', new_user_path) %></button>
</div>
</section>
</div>