<div class="form">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li style="color: red"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <p>
      <%= f.label :email %>:
      <%= f.text_field :email, placeholder: 'Email (required)' %><br/>
    </p>

    <p>
      <%= f.label :name  %>:
      <%= f.text_field :name, placeholder: 'Name (required)' %><br/>
    </p>
     <p>
      <%= f.label :image %>:
      <%= f.url_field :image, placeholder: 'Image' %>&nbsp;<br/>
    </p>

    <p>
      <%= f.label :password %>:
      <%= f.password_field :password, placeholder: 'Password (required)' %><br/></p>
      <p><%= f.label :password_confirmation, 'Confirmation' %>:
      <%= f.password_field :password_confirmation, placeholder: 'Confirmation (required)' %><br/></p>
</br>

    <p><%= f.submit %></p>
<% end %>
</div>
