<%= render 'layouts/header' %>

<section>

<div id="profile-box">

	<p> <span class="profile-info name"><%= @user.name %> </span> </p>
	<hr style="color:#efefef">
	<img class="user-profile" src="<%if @user.image != "" %><%= @user.image %><% else %>http://i.imgur.com/0zJlY5J.jpg?1<% end %>" width=100px height=100px />
<br />
	<span class="profile-info"> <%= @user.email %></span>
	<br/>
	<span class="profile-info"><%= @user.phone_number %> </span>
  <br>
<%= link_to 'Edit', edit_user_path(@user) %>

</div>

<div id="eventsHeader">
<a href="#"><h2 class="eventsHeader" id="allTitle">  All Events  </h2></a>
<a href="#"><h2 class="eventsHeader" id="ownerTitle">  Owned  </h2></a>
<a href="#"><h2 class="eventsHeader" id="organizerTitle">  Organizer  </h2></a>
<a href="#"><h2 class="eventsHeader"id="invitedTitle">  Friend  </h2></a>
</div>

<table id="user-sassTable">
<tr class="tableHeader">
  <th>Role </th>
  <th>Name</th>
  <th>Location</th>
  <th>Event Dates</th>
  <th>Your Dates</th>
  <th>Status </th>
</tr>

<% @owner.each do |role| %>
  <tr class="eventsOwned">
    <td>Owner</td>
    <%= render partial: "events_list", locals: {role: role} %>
  </tr>
<%end%>
<% @organizer.each do |role| %>
  <tr class="eventsOrganized">
    <td>Organizer</td>
    <%= render partial: "events_list", locals: {role: role} %>
  </tr>
<%end%>
<% @friend.each do |role| %>
  <tr class="eventsInvited">
    <td>Friend</td>
    <%= render partial: "events_list", locals: {role: role} %>
  <tr>
<%end%>

</table>

<!--
<h2> Events Organizing </h2>
<table id="user-sassTable">
<tr>
  <th>Name</th>
  <th>Location</th>
  <th>Event Dates</th>
  <th>Your Dates</th>
  <th>Status </th>

</table>

 -->
<!-- <h2> Events Invited to </h2>

<table id="user-sassTable">
<tr>
  <th>Name</th>
  <th>Location</th>
  <th>Event Dates</th>
  <th>Your Dates</th>
  <th>Status </th>

</table>
 -->

<br/><br/>

</section>
