<%= render 'layouts/header' %>

<section>
<span class="strong">Name: </span><%= @user.name %>
<br/><br/>
<img src="<%=@user.image%>" width=100px height=100px %>
<br/><br/>
<span class="strong">Email: </span><%= @user.email %>
<br/>
<span class="strong">Phone number: </span><%= @user.phone_number %>

<br/><br/>


<h2> Events Owned </h2>


<table id="sassTable">
<tr>
  <th>Name</th>
  <th>Location</th>
  <th>Dates</th>
<% @owner.each do |role| %>
  <tr>
    <td><%= link_to role.event.name, event_path(role.event.id) %> </td>
    <td> <%= role.event.location %></td>
    <td> <%= role.event.start_date %> - <%= role.event.end_date %></td>
  </tr>
<%end%>
</table>


<br/><br/>


<h2> Events Organizing </h2>
<table id="sassTable">
<tr>
  <th>Name</th>
  <th>Location</th>
  <th>Event Dates</th>
  <th>Your Dates</th>
  <th>Status </th>
<% @organizer.each do |role| %>
  <%= render partial: "events_list", locals: {role: role} %>
<%end%>
</table>
<br/><br/>


<h2> Events Invited to </h2>

<table id="sassTable">
<tr>
  <th>Name</th>
  <th>Location</th>
  <th>Event Dates</th>
  <th>Your Dates</th>
  <th>Status </th>
<% @friend.each do |role| %>
  <%= render partial: "events_list", locals: {role: role} %>
<%end%>
</table>


<br/><br/>
<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<%= link_to 'New Event', new_user_event_path(@user) %>

</section>
