<%= render 'layouts/header' %>

</br>
Name: <%= @user.name %>
</br></br>
<img src="<%=@user.image%>" width=100px, height=100px %>

<br/><br/>
Email:<%= @user.email %>
<br/>
Phone Number:<%= @user.phone_number %>
<br/><br/>
<h2> Events Owned </h2>
<table style="width:100%">
<tr>
  <th>Name</th>
  <th>Location</th>
  <th>Dates</th>
<% @owned.each do |event| %>
  <tr>
    <td><%= link_to event.name, event_path(event.id) %> </td>
    <td> <%= event.location %></td>
    <td> <%= event.start_date %> - <%= event.end_date %></td>
  </tr>
<%end%>
</table>
<br/><br/>
<h2> Events Organizing </h2>
<table style="width:100%">
<tr>
  <th>Name</th>
  <th>Location</th>
  <th>Dates</th>
  <th>Invitations </th>
<% @organized.each do |event| %>
  <tr>
    <td><%= link_to event.name, event_path(event.id) %> </td>
    <td> <%= event.location %></td>
    <td> <%= event.start_date %> - <%= event.end_date %></td>
    <% role = Role.where(user_id: @user.id).where(event_id: event.id)[0].accepted %>
    <% if role%>
      <td><p> attending</p></td>
    <% else %>
      <td> <%= link_to 'accept',  event_path(event.id, friend:"true"), :method=> :put%> <%= link_to 'deny',  event_path(event.id, friend:"true"), :method=> :delete%></td>
    <% end %>
  </tr>
<%end%>
</table>
<br/><br/>
<h2> Events Invited to </h2>
<table style="width:100%">
<tr>
  <th>Name</th>
  <th>Location</th>
  <th>Dates</th>
  <th>Invitations </th>
<% @friended.each do |event| %>
  <tr>
    <td><%= link_to event.name, event_path(event.id) %> </td>
    <td> <%= event.location %></td>
    <td> <%= event.start_date %> - <%= event.end_date %></td>
    <% role = Role.where(user_id: @user.id).where(event_id: event.id)[0].accepted %>
    <% if role%>
      <td><p> attending</p></td>
    <% else %>
      <td> <%= link_to 'accept',  event_path(event.id, friend:"true"), :method=> :put%> <%= link_to 'deny',  event_path(event.id, friend:"true"), :method=> :delete%></td>
    <% end %>
  </tr>
<%end%>
</table>


<br/><br/>
<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<%= link_to 'New Event', new_user_event_path(@user) %>
