<div class="strong">Pending Costs</div>
<br>
<br>
<br>
<br>

<table id="table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Submitted By</th>
      <th>Approve</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <% @pending_expenses.each do |expense| %>
      <tr>
        <td><%= expense.item %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.description %></td>
        <td><%= expense.start_date.strftime("%a %b. %d") %></td>
        <td><%= expense.end_date.strftime("%a %b. %d") %></td>
        <td><%= expense.user.name %></td>
        <td><%= link_to 'APPROVE',  expense_path(expense.id, approve:"true"), :method=> :put%>
            <%= link_to 'DENY',  expense_path(expense.id, approve:"true"), :method=> :delete%></td>
      </tr>
    <% end %>
  </tbody>
</table>

