<div class="form">
<% if params[:user_id]%>
<% form_info = [@user, @event] %>
<% else %>
<% form_info = (@event) %>
<% end %>
 <%= form_for form_info do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="field_users_form" class="field2">
    <p><%= f.label :name %>:
    <%= f.text_field :name, :required => true%> (required)</p>
  </div>
  <div id="field_users_form" class="field2">
     <p><%= f.label :start_date %>:
    <%= f.date_field :start_date, :required => true %> (required)</p>
  </div>
  <div id="field_users_form" class="field2">
    <p><%= f.label :end_date %>:
    <%= f.date_field :end_date, :required => true %> (required)</p>
  </div>
  <div id="field_users_form" class="field2 location">
    <p><%= f.label :location %>:
    <%= f.text_field :location %></p>
  </div>
  <div id="field_users_form" class="field2 img">
    <p><%= f.label :image %>:
    <%= f.url_field :image %></p>
  </div>
  <div class="actions">
    <p class="field2 sub"><%= f.submit %></p>
  </div>
<% end %>
</div>
