<%= render 'layouts/header' %>
<section>

<p style="color: red"><%= flash[:notice] %></p>
<div class="center_wrap">
  <div class="event_wrapper">
    <div class="events-title"><%= @event.name %>
    </div>
    <% if @event.closed %>
    <div class="events-title" id="finalized">Event Finalized
    </div>
    <% end %>
	<hr>
    <div class="event_info">
        <img class="event_img" src="<%if @event.image != "" %><%= @event.image %><% else %> http://i.imgur.com/XcCVauk.jpg<% end %>">
      <p>Location:
        <%= @event.location %>
      </p>
      <p>Dates: <%= @event.start_date.strftime("%a %b. %d, %Y") %> -
        <%= @event.end_date.strftime("%a %b. %d, %Y") %>
      </p>
    </div>
		<div class="event_right">
			<span class="events-going">Invited
    	</span>
			<br /><br />
    	<table id="eventListTable" class="event_info" cellpadding="25px" cellpadding="100px">
		  <tr class="tableHeader">
		    <th>Name</th>
        <th>  </th>
        <th>  </th>
        <th>  </th>
        <th>  </th>
		    <th>Email</th>
        <th>  </th>
        <th>  </th>
        <th>  </th>
        <th>  </th>
        <th>  </th>
        <th>  </th>

        <th>Permission</th>
        <th>  </th>


        <% if @event.closed %>
         <th>Amount</th>
        <% else %>
		    <th>Confirmed</th>
        <% end %>
              </tr>
      </table>
      <div class="scroll">
      <table id="eventListTable" class="event_info" cellpadding="25px" cellpadding="100px">
		  <% @people.each do |person| %>

		    <tr>
		      <td> <%= person.user.name %> </td>
		      <td> <%= person.user.email %> </td>
          <td> <%= Role.where(user_id: person.user.id).where(event_id: @event.id)[0].permission %></td>
        <% if @event.closed %>
         <td>
          <% if person.amount_owed && person.amount_owed >= 0 %>
            <span style="color:red">Owes: $<%= '%.2f' % person.amount_owed.abs %></span>
          <% elsif person.amount_owed && person.amount_owed < 0  %>
            <span style="color:green">Owed: $<%= '%.2f' % person.amount_owed.abs %></span>
          <% end %>
           </td>
        <% else %>
         <td class="checkmark"> &#x2713; </td>
        <% end %>

      	</tr>
    	<%end%>

      <% if @pending_people %>
        <% @pending_people.each do |person| %>
        <tr class="pending">
          <td> <%= person.user.name %> </td>
          <td> <%= person.user.email %> </td>
          <td class="what"> <%= Role.where(user_id: person.user.id).where(event_id: @event.id)[0].permission %></td>
          <td> </td>
        <%end%>
        </tr>
      <%end%>
      <% if @invited_people %>
        <% @invited_people.each do |person| %>
        <tr class="invited">
          <td> <%= person.name %> </td>
          <td> <%= person.email %> </td>
          <td> <%= person.permission %> </td>
          <td> </td>
        <%end%>
        </tr>
      <%end%>
      </table>

      </br></br>
      <% if flash[:success] %>
        <table class="event_info">
          <tr>
            <td style="color: blue"><%= flash[:success] %></td>
          </tr>
        </table>
      </div>
      <% end %>
      <% if flash[:error] %>
        <table class="event_info">
          <tr>
            <td style="color: red"><%= flash[:error] %></td>
          </tr>
        </table>
      <% end %>

    <br>

    <div class="breakdown_wrap">
      <div class="breakdown">
      <% if @event.closed %>
       Total Spent: $<%= '%.2f' % @total_paid %><br>
      <% else %>
        <span class="cost">Your Total Cost: $<%= '%.2f' % @total_cost %><br>
        Total Spent: $<%= '%.2f' % @total_paid %><br>
        </span>
        <% if @total_owed && @total_owed >= 0 %>
          <span class="owed" style="color:red">You Owe: $<%= '%.2f' % @total_owed.abs %></span>
        <% elsif @total_owed && @total_owed < 0  %>
          <span class="owed" style="color:green">You Are Owed: $<%= '%.2f' % @total_owed.abs %></span>
        <% end %>
      <% end %>
      </div>
    </div>

    </div>
  </div>
</div>
  <div class="event_links">
  <% if (@role.is_owner? || @role.is_organizer?) && !@event.closed %>
    <%= link_to 'Edit', edit_event_path(id: @event.id)  %> |
    <%= link_to 'Invite Friends', event_invite_friends_path(event_id: @event.id) %> |
  <% end %>
  <% if @role.is_owner? && !@event.closed && @event.expenses.where(approved: false).count == 0%>
    <%= link_to 'Finalize Event', event_path(id: @event.id, finalize: "true"), method: :put %> |
  <% end %>
  <% if !@event.closed %>
  <%= link_to 'Add Expense', new_event_expense_path(event_id: @event.id) %> |
  <% end %>
  <%= link_to 'See Expenses', event_expenses_path(event_id: @event.id) %>
  </div>
      <% if @pending_expenses.count > 0 %>
  <div class="event_wrapper2">
      <% if Role.where(user_id: @user.id).where(event_id: @event.id)[0].is_owner? %>
        <%= render 'expense_list' %>
      <% end %>
</div>
<br><br>
<%end%>
<br>

  <div id='calendar'>
<script>

  $(document).ready(function() {

		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
			defaultDate: '<%= @event.start_date %>',
			editable: true,
			eventLimit: true, // allow "more" link when too many events
      eventSources: [

        {
			events: [

				{

					title: '<%= @event.name %>',
					start: '<%= @event.start_date %>',
          end: '<%= @event.end_date + 1%>'

				}

      ],
      color: '#E06767',
      borderColor: 'grey'
    },


    {

        events: [

          <% @people.each do |person| %>
            {
              title: '<%= User.find(person.user_id).name %>',
              start: '<%= person.start_date %>',
              end: '<%= person.end_date + 1%>'


        },
          <% end %>

      ],
      color: '#A1C9E3',
      borderColor: 'grey'
    }

    ]

  })
});



</script>

</div>
</section>
