<%= render 'layouts/header' %>
<h2 style="text-align: center">Expense Index</h2>
<div class="event_wrapper2">
<table id="table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Categoy</th>
      <th>Approved</th>
      <% if Role.where(user_id: @user.id).where(event_id: @event.id)[0].is_owner? || Role.where(user_id: @user.id).where(event_id: @event.id)[0].is_organizer?%>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
    <%if expense.approved%>
      <tr>
        <%else%>
      <tr style="color: lightgrey">
<%end%>
        <td><%= expense.item %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.description %></td>
        <td><%= expense.start_date %></td>
        <td><%= expense.end_date %></td>
        <td><%= expense.tag %></td>
        <% if expense.approved %>
        <td>&#x2713;</td>
        <% end %>
        <% if Role.where(user_id: @user.id).where(event_id: @event.id)[0].is_owner? || Role.where(user_id: @user.id).where(event_id: @event.id)[0].is_organizer?%>
          <td><%= link_to 'Edit', edit_expense_path(event_id: params[:event_id], id: expense.id) %></td>
          <td><%= link_to 'Destroy', expense_path(event_id: params[:event_id], id: expense.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div style="text-align: center">
<%= link_to 'New Expense', new_event_expense_path %>
<%= link_to 'Back to Event', event_path(id: params[:event_id]) %>
</div>

